<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.itifighter">

    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:ignore="ManifestOrder" />

    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/final_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/final_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".ForgetPassword" />
        <activity android:name=".ResultUploader"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity android:name=".MockChapterXyz" />
        <activity android:name=".LiveTestXyz" />
        <activity android:name=".InstructionXyz" />
        <activity android:name=".LeaderBoardXyz" />
        <activity android:name=".ViewSolutionXyz" />
        <activity android:name=".ResultXyz" />
        <activity android:name=".TestListSeries" />
        <activity
            android:name=".TestInstructionsActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestInstructionsActivityX"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestResultActivity"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestAnswerSheetActivity"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestLeaderBoardActivity"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Payment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestQuestionsActivity"
            android:alwaysRetainTaskState="true"
            android:theme="@style/CustomFullScreenStyle" />
        <activity
            android:name=".LoadPdf"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainDashboard"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LiveTestHomeActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaytmPayment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaytmPaymentpp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>