<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.itifighter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".MockChapterXyz"></activity>
        <activity android:name=".LiveTestXyz" />
        <activity android:name=".InstructionXyz" />
        <activity android:name=".LeaderBoardXyz" />
        <activity android:name=".ViewSolutionXyz" />
        <activity android:name=".ResultXyz" />
        <activity android:name="com.example.itifighterAdmin.admin_feedbackDetails" />
        <activity android:name="com.example.itifighterAdmin.admin_testFeedback_list" />
        <activity
            android:name="com.example.itifighterAdmin.admin_edit_TestInstruction"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name="com.example.itifighterAdmin.admin_other_details" />
        <activity android:name=".TestListSeries" />
        <activity android:name="com.example.itifighterAdmin.admin_add_lt" />
        <activity android:name="com.example.itifighterAdmin.admin_edit_lt_details" />
        <activity android:name="com.example.itifighterAdmin.admin_live_test" />
        <activity
            android:name=".TestInstructionsActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestInstructionsActivityX"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestResultActivity"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestAnswerSheetActivity"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestLeaderBoardActivity"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Payment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestQuestionsActivity"
            android:alwaysRetainTaskState="true"
            android:theme="@style/CustomFullScreenStyle" />
        <activity android:name="com.example.itifighterAdmin.admin_upload_excel" />
        <activity android:name="com.example.itifighterAdmin.admin_mockChapQoes_list" />
        <activity android:name="com.example.itifighterAdmin.admin_add_chapter" />
        <activity android:name="com.example.itifighterAdmin.admin_chapter_list" />
        <activity
            android:name="com.example.itifighterAdmin.admin_item_options"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="com.example.itifighterAdmin.admin_edit_subject"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="com.example.itifighterAdmin.pp.admin_add_exam"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="com.example.itifighterAdmin.admin_add_subject"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="com.example.itifighterAdmin.pp.admin_pdf_list"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.itifighterAdmin.admin_subject_list"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.itifighterAdmin.pp.admin_pp_list"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.itifighterAdmin.admin_section_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoadPdf"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.itifighterAdmin.pp.AdminUpdatePpPdfs" />
        <activity
            android:name=".MainDashboard"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LiveTestHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaytmPayment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>